@import url(http://fonts.googleapis.com/css?family=Montserrat:400,700);

body {
  color: #555555;
  margin: 0;
  font-family: 'Montserrat', sans-serif;
}

#header {
  background-color: #1abc9c;
  height: 50px;
  line-height: 50px;
}

#header a {
  color: white;
  text-decoration: overline;
  text-transform: uppercase;
  letter-spacing: 0.1em;
}

#header a:hover {
  color: #4b0082;
}

#header-title:hover {
  text-decoration: dashed overline;
  text-decoration-color: #952edf;
}

#header-title {
  display: block;
  float: left;
  position: absolute;
  left: 0;
  line-height: normal;
  font-size: 20px;
  font-weight: bold;
  padding-left: 0px;
}

#header a::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #000;
  visibility: hidden;
  transform: scaleX(0);
  transition: all 0.3s ease-in-out 0s;
}

#header a:hover::before {
  visibility: visible;
  transform: scaleX(1);
}


#header-nav a:hover {
  text-decoration: overline underline;
  text-decoration-thickness: 18%;
  text-decoration-color: #952edf;
}

#header-nav a::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #000;
  visibility: hidden;
  transform: scaleX(0);
  transition: all 0.3s ease-in-out 0s;
}

#header-nav a:hover::before {
  visibility: visible;
  transform: scaleX(1);
}

#header-nav {
  display: inline-block;
  float: right;
  position: absolute;
  right: 0;
  word-spacing: 15px;
  margin-top: 0;
}

abbr {
  color: #1abc9c;
  font-weight: 600; 
  text-decoration: none;
  background-image: linear-gradient(#9374a8, #4b0082),
  linear-gradient(#4baf9d, #1abc9c),
  linear-gradient(#ff9d00,#ffbf58 );
  background-size: 20px 2px, 100% 2px, 0 2px;
  background-position: calc(20px * -1) 100%, 100% 100%, 0 100%;
  background-repeat: no-repeat;
  transition: background-size 0.85s linear, background-position 0.85s linear;
  cursor: pointer;
}

abbr:hover {
  color: #f6a623;
  background-size: 20px 2px, 0 2px, 100% 2px;
  background-position: calc(100% + 20px) 100%, 100% 100%, 0 100%;
}

.container {
  max-width: 1000px;
  margin: 0 auto;
}

.container1 {
  max-width: 1000px;
  margin: 0 auto;
  display: flex;
  justify-content: space-around;
  align-content: space-between;
}

#footer {
  background-color: #2f2f2f;
  padding: 50px 50px;
  display: block;
  position: relative;
  bottom: 0;
}

#column1 {
  margin-right: 150px;
}

#column2 {
  margin-left: 150px;
  margin-top: 50px;
  text-align: center;
}

#footer h4 {
  color: white;
  text-transform: uppercase;
  letter-spacing: 0.1em;
}

#footer p {
  color: white;
}

a {
  color: #1abc9c;
  text-decoration: none;
}

a:hover {
  color: #f6a623;
  text-decoration: double underline;
  text-decoration-thickness: 2px;
  text-decoration-color: #1abc9c;
}

.post, .about {
  max-width: 800px;
  margin: 0 auto;
  padding: 60px 0;
}

.post-author img {
  width: 50px;
  height: 50px;
  vertical-align: middle;
  border-radius: 50%;
  transition: transform 1s;
}

.post-author img:hover {
  transform: rotate(360deg);
}

.post-content a {
  color: #1abc9c;
  text-decoration: none;
  font-variant: small-caps;
  font-size: large;
  background-image: linear-gradient(#9374a8, #4b0082),
  linear-gradient(#4baf9d, #1abc9c),
  linear-gradient(#ff9d00,#ffbf58 );
  background-size: 20px 2px, 100% 2px, 0 2px;
  background-position: calc(20px * -1) 100%, 100% 100%, 0 100%;
  background-repeat: no-repeat;
  transition: background-size 0.85s linear, background-position 0.85s linear;
  cursor: pointer;  
}

.post-content a:hover {
  color: #f6a623;
  background-size: 20px 2px, 0 2px, 100% 2px;
  background-position: calc(100% + 20px) 100%, 100% 100%, 0 100%;
}


.post-author span {
  margin-left: 16px;
}

.info-header {
  color: #6d6e6f;
  font-size: 18px;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 0.1em;
}

h1, h2, h3, h4 {
  color: #333333;
}

p {
  line-height: 1.5;
}

.about {
  text-align: center;
}

.about-author img {
  height: 420px;
  width: 666px;
}

.about-author video {
  max-width: 1000px;
  margin: 0 auto;
}

.about-content a {
  color: #1abc9c;
  text-decoration: none;
  font-variant: small-caps;
  font-size: large;
  background-image: linear-gradient(#9374a8, #4b0082),
  linear-gradient(#4baf9d, #1abc9c),
  linear-gradient(#ff9d00,#ffbf58 );
  background-size: 20px 2px, 100% 2px, 0 2px;
  background-position: calc(20px * -1) 100%, 100% 100%, 0 100%;
  background-repeat: no-repeat;
  transition: background-size 0.85s linear, background-position 0.85s linear;
  cursor: pointer;
}

.about-content a:hover {
  color: #f6a623;
  background-size: 20px 2px, 0 2px, 100% 2px;
  background-position: calc(100% + 20px) 100%, 100% 100%, 0 100%;
}

.info-container:nth-child(even) {
  background-color: #f2f2f2;
}

.info-container {
  display: block;
  position: relative;
  bottom: 0;
}

